.appBar {
  margin: 0 auto !important;
  border: 2px solid #000 !important;
  background-color: #212121 !important;
  padding-left: 600px
}

.field1 {
  padding-left: 30%;
}

.field2 {
  padding-left: 30%;
}

.field3 {
  padding-left: 30%;
}

.field4 {
  padding-left: 30%;
}

.submit {
  padding-left: 50%;
  border: false;
}
