.Login-wrapper {
	height:100%;
}

.Login-fields {

}

.appBar {
  margin: 0 auto !important;
  border: 2px solid #000 !important;
  background-color: #212121 !important;
  padding-left: 600px
}

.field1 label, .field2 label, .field3 label, .field4 label, .field5, label, .field6 label, .field7 label {
	border-color: black !important;
	color: #CFB584 !important;
}

.submit {
  box-shadow: none !important;
}

.submit button {
 	height:50px !important;
 	color: white !important;
 	background-color:#CFB584 !important;
}
