.Login-wrapper {
	height:100%;
}

.appBar {
  margin: 0 auto !important;
  border: 2px solid #000 !important;
  background-color: #212121 !important;
  padding-left: 600px
}

.submit {
  padding-left: 50%;
  border: false;
}
